In [1]:
#Importing dataset
import pandas as pd 
import numpy as np
import datetime
file = 'DiningTrans_201910.csv'
data = pd.read_csv(file)

#separating out date/time
data['Date_time']=data['ProcessDT'].str.split()
data['Date']=[data['Date_time'][0][0] for x in data['Date_time']]
data['Time']=[data['Date_time'][0][1] for x in data['Date_time']]

In [2]:
#Deleting the Soda Machine

In [3]:
#Creating time index
data['Time1']=pd.to_datetime(data['ProcessDT'])
index=pd.DatetimeIndex(data['Time1'])

In [4]:
#timedelta good for 15 minute intervals
#[[data['Time1'][1]-data['Time1'][0] for x in data['time']]

In [5]:
data2=data

In [6]:
data2.head()

,keyCampusID,ProcessDT,AccountName,ReaderName,PlaceName,TransactionType,Date_time,Date,Time,Time1
0,24801,2019-10-01 00:00:51,7 Day All Access,Snelling Left Iris,Snelling Dining Commons,charge,"[2019-10-01, 00:00:51]",2019-10-01,00:00:51,2019-10-01 00:00:51
1,21133,2019-10-01 00:00:55,5 Day All Access,Snelling Right Iris,Snelling Dining Commons,charge,"[2019-10-01, 00:00:55]",2019-10-01,00:00:51,2019-10-01 00:00:55
2,31291,2019-10-01 00:01:54,7 Day All Access,Snelling Left Iris,Snelling Dining Commons,charge,"[2019-10-01, 00:01:54]",2019-10-01,00:00:51,2019-10-01 00:01:54
3,31549,2019-10-01 00:02:30,7 Day All Access,Snelling Left Iris,Snelling Dining Commons,charge,"[2019-10-01, 00:02:30]",2019-10-01,00:00:51,2019-10-01 00:02:30
4,31378,2019-10-01 00:02:35,7 Day All Access,Snelling Left Iris,Snelling Dining Commons,charge,"[2019-10-01, 00:02:35]",2019-10-01,00:00:51,2019-10-01 00:02:35

In [16]:
#Creating Subsetted Dataset of just dining halls
data3= data2.loc[(data2['PlaceName']== 'Joe Frank Harris Commons') | (data2['PlaceName']== 'Bolton Dining Commons') | (data2['PlaceName']== 'The Niche') | (data2['PlaceName']== 'Oglethorpe Dining Commons') | (data2['PlaceName']== 'Snelling Dining Commons')]

In [17]:
##a list 
Id_pairs=[]
x=0
y=0
for x in len(data3):
    while data3['Time1'][x]-data3['Time1'][y]):
        if data3['PlaceName']==[data3[data3['PlaceName']== (#Need to self reference)] 
        id_pairs.append(data3[data3['Time1'][x]]['keyCampusID'].iloc[0])
        
        y+=1

{'Bolton Dining Commons',
 'Joe Frank Harris Commons',
 'Oglethorpe Dining Commons',
 'Snelling Dining Commons',
 'The Niche'}